{# templates/utilisateur_recruteur/index.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Formulaire Utilisateur Recruteur</h1>

    <form method="post" action="{{ path('app_utilisateur_recruteur') }}">
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
    </form>
{% endblock %}