<form method="post" action="{{ path('app_profil_recruteur_delete', {'id': profil_recruteur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profil_recruteur.id) }}">
    <button class="btn">Delete</button>
</form>
