{% extends 'base.html.twig' %}

{% block title %}New ProfilRecruteur{% endblock %}

{% block body %}
    <h1>Create new ProfilRecruteur</h1>

    {{ include('profil_recruteur/_form.html.twig') }}

    <a href="{{ path('app_profil_recruteur_index') }}">back to list</a>
{% endblock %}
