{% extends 'base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}
        <!-- Aide Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Aide</h1>
                <div class="row g-4">
                    <div class="col-md-12">
                        <p>Vous pouvez ajouter ici toutes les informations d'aide nécessaires à vos utilisateurs.</p>
                        <p>Par exemple :</p>
                        <ul>
                            <li>Instructions d'utilisation de votre application</li>
                            <li>Informations sur les fonctionnalités disponibles</li>
                            <li>Procédures de résolution de problèmes courants</li>
                            <li>Coordonnées du support technique</li>
                        </ul>
                        <!-- Ajoutez ici tout autre contenu d'aide pertinent pour votre application -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Aide End -->
{% endblock %}
